{%  extends "PletnevProjectManagerBundle:Admin:layout.html.twig" %}

{% block breadcrumbs %}
    <li><a href="{{ path(route_prefix) }}"><i class="glyphicon glyphicon-home"></i></a></li>
    <li><a href="{{ path(route_prefix~'_projects') }}">Проекты</a></li>
    <li>Новый проект</li>
{% endblock %}

{% block body %}
    
    {{ form(form) }}
    
{% endblock %}