{%  extends "PletnevProjectManagerBundle:Author:layout.html.twig" %}

{% block breadcrumbs %}
    <li><i class="glyphicon glyphicon-home"></i></li>
{% endblock %}

{% block body %}
    <h1>Project Manager Bundle</h1>
    <p>Система управления проектами</p>
    <p>Автор: <a href="http://github.com/php-nik">php-nik</a></p>
    
{% endblock %}